h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}


.boards {
    display: flex;
    justify-content: center;
    text-align: center;
}

.board1, .board2, .board3 {
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
    border: 2px solid;
    width: 120px;
    height: 170px;
    border-radius: 30px;
    text-align: center;
}

.spinBtn {
    margin: 30px;
    width: 180px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(239, 239, 118);
}

.spinBtn:hover {
    background-color: yellowgreen;
}

.message {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.playerCredits {
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}